@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

nav {
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}

img {
  height: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 40%;
}

nav ul li a {
  font-size: 1.4vw;
  font-weight: 600;
  text-decoration: none;
  color: black;
  padding: 3px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #1e5128;
  color: white;
  font-weight: 600;
}

main {
  /* overflow: hidden; */
  /* display: flex; */
}

marquee {
  width: 100%;
  direction: left;
  background-color: #d8e9a8;
  color: #1e5128;
  /* height: 10vh; */
  padding: 20px;
  font-size: 1.3vw;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  letter-spacing: 2px;
}

#layanan {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* background-color: purple; */
  margin: 5% auto;
}

#layanan h1,
#kontak h1 {
  /* background-color: red; */
  letter-spacing: 1px;
  font-size: 2vw;
  text-align: center;
  margin: 2% 0;
}

.card-wrapper {
  display: flex;
  /* margin: 0 50vw; */
  justify-content: space-around;
  padding: 0 200px;
  /* flex-direction: column; */
}

.card {
  /* flex-basis: 25%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /* padding: 20px; */
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.card:hover {
  /* position: absolute; */
  top: 50px;
  box-shadow: 0 8px 16px 0 rgba(30, 81, 40, 0.5);
}

.card img {
  /* flex-basis: 100%; */
  width: 23vw;
  height: 30vh;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .desc {
  padding: 20px;
}

#testimoni {
  color: #fff;
  /* height: 20vh; */
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(78, 159, 61, 1) 70%,
    rgba(30, 81, 40, 1) 100%
  );

  /* height: 400px; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 8vh;
}

#testimoni h1 {
  font-weight: bolder;
}

#kontak {
  overflow: auto;
  display: flex;

  margin: 5% 0;
  justify-content: space-;
}

.kontak {
  width: 70%;
  padding: 20px;
  text-align: justify;
}

.kontak p,
.kontak h2 {
  padding: 0 20px;
}

aside {
  display: flex;
  justify-content: center;
  width: 30%;
  /* padding-left: 20px; */
  flex-direction: column;

  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(78, 159, 61, 0.2);
}

.biodata {
  align-items: center;
  padding: 10%;
}

.biodata img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
}

footer {
  padding: 15px;
  color: white;
  background: rgba(30, 81, 40, 0.9);
  text-align: center;
  font-weight: bold;
}
/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -3px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

/* Slideshow */
#slideshow {
  text-align: center;
  overflow: hidden;
  height: 77vh;
  width: 100%;
  /* width: 728px; */
  margin: 0 auto;
}

.slide-wrapper {
  width: 400vw;
  /* width: 2912px; */
  -webkit-animation: slider 10s ease infinite;
}

.slider {
  float: left;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  /* object-position: center; */
}

@-webkit-keyframes slider {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -100vw;
  }
  50% {
    margin-left: -100vw;
  }
  60% {
    margin-left: -200vw;
  }
  70% {
    margin-left: -200vw;
  }
  80% {
    margin-left: -300vw;
  }
  90% {
    margin-left: -300vw;
  }
}

/* Responsive */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }

  nav ul li a {
    font-size: 0.9em;
    padding: 3px 5px;
    /* font-size: 1.4vw; */
  }

  img {
    height: 45px;
  }

  #slideshow,
  .slider {
    height: 40vh;
  }

  marquee {
    font-size: 0.9em;
    padding: 15px;
  }

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
  }

  .card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(30, 81, 40, 0.5);
  }

  .card img {
    width: 40vw;
    height: 20vh;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card h3 {
    font-size: 0.8em;
  }

  #layanan h1,
  #kontak h1 {
    font-size: 3vw;
  }

  #testimoni h1 {
    font-size: 1em;
    /* padding: 10px; */
  }
}

@media screen and (max-width: 576px) {
  nav {
    height: 60px;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 60vh;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    background-color: white;
    z-index: -1;
    /* transform: translateX(100%); */
    right: -100%;
    transition: all 1s;
  }

  nav ul li a {
    padding: 5px 30px;
    font-size: 4vw;
  }

  .menu-toggle {
    display: flex;
  }

  img {
    height: 40px;
  }

  nav ul.slide {
    /* transform: translateX(0); */
    right: 0;
  }

  #slideshow,
  .slider {
    height: 30vh;
  }

  marquee {
    font-size: 0.6em;
    padding: 10px;
  }

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
  }

  .card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(30, 81, 40, 0.5);
  }

  .card img {
    width: 55vw;
    height: 20vh;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card h3 {
    font-size: 0.8em;
    word-wrap: break-word;
  }

  #kontak {
    flex-direction: column;
    overflow: auto;
  }

  aside {
    width: 100%;
  }

  .kontak {
    width: 100%;
  }
}
